@import '../../components/variables.css';

/* todo: use mixin */
.root {
  position: relative;
  background: -moz-linear-gradient(315deg, #43DDE0 0%, #4095FF 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #43DDE0), color-stop(100%, #4095FF)); /* safari4+,chrome */
  background: -webkit-linear-gradient(315deg, #43DDE0 0%, #4095FF 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(315deg, #43DDE0 0%, #4095FF 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(315deg, #43DDE0 0%, #4095FF 100%); /* ie10+ */
  background: linear-gradient(135deg, #43DDE0 0%, #4095FF 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43DDE0', endColorstr='#4095FF',GradientType=1 ); /* ie6-9 */
  color: #fff;
  height: 100vh;
}

.search {
  /*width: 500px;*/
}

.bar {
  border: none;
  vertical-align: center;
  margin: 20px;
  font-family: var(--font-family-fancy);
  font-size: 26px;
  font-weight: 800;
  color: #8599ad;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

.bar::-webkit-input-placeholder {
  color: #aebdcc;
  font-size: 26px;
}

.bar::-webkit-search-decoration,
.bar::-webkit-search-cancel-button,
.bar::-webkit-search-results-button,
.bar::-webkit-search-results-decoration {
  display: none;
}

.bar:focus {
  outline-width: 0;
}

.meow {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: inline-block;
  margin: 0 auto;
}

.bro {
  display: block;
}

.search {
  display: flex;
  align-items: center;
  line-height: 1px;
  border-radius: 3px 10px 10px 10px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 20px rgba(0,0,0,0.06);
}

.go {
  display: inline-block;
  margin-right: 17px;
}

.go svg {
  fill: #4c96cc;
  width: 20px;
}

.go:hover svg {
  fill: var(--color-aqua);
}
