@import '../../../components/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  /*max-width: 1140px;*/
  margin-left: auto;
  margin-right: auto;
}

.floor:after {
  display: table;
  clear: both;
  content: '';
}



/* Filters */
/* todo: rename these classes better */
.navvi {
  margin: 20px var(--page-margin) var(--page-margin) var(--page-margin);
}

.navvi:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.filters {
  display: inline-block;
  float: left;
}

.filter {
  background: none;
  cursor: pointer !important;
  border: none;
  -webkit-appearance: none !important;
  margin-right: 10px;
  padding: 5px;
  color: #3e3e3e;
  font-size: 1em;
}

.filter:hover {
  background-color: #eee;
}

.chevron {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
}

.views {
  display: inline-block;
  float: right;
}

.gridView {
  width: 12px;
  height: 12px;
  cursor: pointer !important;
  border: none;
  -webkit-appearance: none !important;
  margin-right: 10px;
  padding: 5px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAANklEQVQ4y2MwNjb+jwUzQDGGHMMw0UASJkvDyAtWtpBd/9ExEDCAMDa5YaEBJkksJl3DSAxWAFtmDLOlYu/SAAAAAElFTkSuQmCC) no-repeat 100% 0;
}

.listView {
  width: 14px;
  height: 14px;
  cursor: pointer !important;
  border: none;
  -webkit-appearance: none !important;
  margin-right: 10px;
  padding: 5px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAcCAYAAABRVo5BAAAAQElEQVQ4jWNIS0v7j4yBgIEYzIBLI7o4Oqa+RoJOJVYh0X4cDZwREjiSEXv/I2OKNaKLo2Pqa6RdAhgNnJEdOADQHvkWX7Of/AAAAABJRU5ErkJggg==) no-repeat 100% 0;
}
