@import '../../../components/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.wrap {
  /*max-width: 1140px;*/
  margin-left: auto;
  margin-right: auto;
}

.floor:after {
  display: table;
  clear: both;
  content: '';
}



/* Filters */
/* todo: rename these classes better */
/* todo: refactor into separate component */
.navvi {
  margin: 20px var(--page-margin) var(--page-margin) var(--page-margin);
}

.navvi:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.filters {
  display: inline-block;
  float: left;
}

.filter {
  background: none;
  cursor: pointer !important;
  border: none;
  -webkit-appearance: none !important;
  margin-right: 10px;
  padding: 5px;
  color: #8599ad;
  font-size: 18px;
  font-weight: 800;
  font-family: var(--font-family-fancy);
}

.filter:hover {
  color: var(--color-aqua);
}

.chevron {
  display: inline-block;
  margin-left: 5px;
  width: 10px;
  fill: #8599ad;
}

.filter:hover .chevron {
  fill: var(--color-aqua);
}

.views {
  display: inline-block;
  float: right;
}

.views button svg {
  width: 13px;
  fill: #8599ad;
}

.views button:hover svg {
  fill: var(--color-aqua);
}
