.Select:focus {
  outline-width: 0;
}

.Select-control {
  height: 1.75em;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.Select-control:hover {
  box-shadow: none;
}

.is-focused:not(.is-open) > .Select-control {
  box-shadow: none;
}

.Select-placeholder {
  margin: 5px 0;
  line-height: 1.3em;
}

.Select--multi .Select-value {
  margin-top: 0;
  margin-bottom: 5px;
}

.Select-input > input {
  margin-top: 5px;
  padding: 0;
}

.Select-menu-outer {
  line-height: 1em !important;
}

.Select-option {
  color: #99c5f4;
}

.Select-option.is-focused {
  background-color: #ebf5ff;

  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.08);
  color: #1c7cf1;
}

/* Listings */
div[class^='Listings-filters'] .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label {
  color: #52687f;
}

div[class^='Listings-filters'] .Select-arrow {
  color: #8599ad !important;
}

div[class^='Listings-filters'] .Select.Select--multi .Select-value-label {
  color: #4586ca;
}

div[class^='Listings-filters'] .Select .Select-placeholder {
  color: #bfc8d2;
}
