@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  background: rgba(38,71,237,1);
  background: -moz-linear-gradient(-45deg, rgba(38,71,237,1) 0%, rgba(242,17,96,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(38,71,237,1)), color-stop(100%, rgba(242,17,96,1)));
  background: -webkit-linear-gradient(-45deg, rgba(38,71,237,1) 0%, rgba(242,17,96,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(38,71,237,1) 0%, rgba(242,17,96,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(38,71,237,1) 0%, rgba(242,17,96,1) 100%);
  background: linear-gradient(135deg, rgba(38,71,237,1) 0%, rgba(242,17,96,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2647ed', endColorstr='#f21160', GradientType=1 );
  color: #fff;
}

.container {
  margin: 0 var(--page-margin);
  /*max-width: var(--max-content-width);*/
}

.brand {
  color: #fff;
  /*color: color(var(--brand-color) lightness(+10%));*/
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  display: inline-block;
  margin: 9px 0 0 15px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  margin: 0;
}
