@import '../../../components/variables.css';

.tile {
  color: #435769;
}


.tile {
  width: calc((100% - var(--page-margin) * 2 * 4) / 4);
  margin: 0 10px 30px 10px;
  float: left;
}

.tile:hover {
  color: var(--color-link);
  transition: color 0.5s ease-out;
  cursor: pointer;
}

.carousel {
  position: relative;
}

.title {
  font-size: 1.5rem;
  margin: 0.3em 0 0 0;
  font-family: var(--font-family-fancy);
}

.picture {
  width: 100%;
}
.priceContainer {
  position: absolute;
  bottom: -1px;
  right: 0;
}

.priceContent {
  position: relative;
  padding: 5px 9px;
  opacity: 0.9;
  background-color: #fff;
  color: var(--color-link);
}

.priceContent:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  top: 0;
  left: -10px;
  border-style: solid;
  border-width: 16px 10px 16px 0;
  border-color: transparent #fff;
}
