/* todo: not sure how to write re-usable that can be used across two components :S */
@import '../../components/variables.css';

.list,
.thumbnails {
  width: 62%;
  margin: 0 19% 200px;
  background: #fff;
  padding: 10px;
}

.header > span,
.row > span {
  display: inline-block;
  padding: 10px 15px;
}

.header > span {
  font-weight: bold;
  color: #39bee6;
}

.row {
  display: block;
}

.row:hover {
  background-color: rgba(209, 246, 249, 0.31);
}

hr {
  border-top: 1px solid rgb(226, 246, 249);
  margin: 0;
  height: 0px;
}

.list > div:last-child hr,
.thumbnails > div:last-child hr {
  border-top: none;
}

.list .row,
.thumbnails .row {
  color: var(--color-text);
}

.list .row:hover,
.thumbnails .row:hover {
  color: #39bee6;
}



/* List */
.list .header > span:first-child,
.list .row > span:first-child {
  width: 30%;
}

.list .header > span,
.list .row > span {
  width: 20%;
}

.list .header > span.other,
.list .row > span.other {
  width: 30%;
}



/* Price */

.priceSign {
  top: -0.2em;
  font-weight: bold;
}

.priceValue {
  display: inline-block;
  margin-right: 2px;
  font-weight: bold;
}

.priceUnit {
  font-size: 0.9em;
}
